root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
indent_style = space
csharp_indent_case_contents_when_block = false
csharp_prefer_braces = true

[*.yml]
indent_size = 2
indent_style = space

[*.xml,nuget.config]
indent_size = 2
indent_style = space
